<style type="text/css">
		{
			margin: 0px;
			font-family: Arial, sans-serif;
		}
		header{
			background-color: #32a897;
			color: white;
			padding: 20px 0;

		}
		ul {
			list-style-type: none;
			padding: 2px 0;
            margin: 5;
            display: flex;
            justify-content: left;
		}

		li{
			margin: 0 15px;
			curser: pointer;
			transition: color 0.3s;
		}li:hover {
			color: #ffcc00;
			background-color: lightgray;
		}
		p{
			margin: 20px;
		}
		body {
		      font-family: 'arial',sans-serif;
		      background-color: #cf03fc;
		      padding:50px;
	     }
	     img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
	.dropdown {
		position: relative;
		display: inline-block;
	}
	/*dropdown button (span) styling*/
	.dropdown span{
		padding: 12px 20px;
		background-color: #935ad8;
		color:white;
		font-size: 16px;
		cursor:pointer;
		transition:background-color 0.3s ease ;
	}
	.dropdown span:hover {
		background-color:#ff9966;
	}
	 .dropdown-content{
	 	display:none;
	 	position:absolute;
	 	background-color:#ff9966;
	 	min-width: 200px;
	 	box-shadow: 8px 16px rgba(0,0,0,0.15);
	 	border-radius: 8px;
          padding: 12px 16px;
          z-index: 1;
          transition: opacity 0.3s ease, transform 0.3s ease;
          transform: translateY(20px);
          opacity: 0;
	 }
	 .dropdown:hover .dropdown-content{
	 	display: block;
	 	opacity:1;
	 	transform: translateY(0);
	 	margin: 0;
	 	color: #333;
	 	font-size: 14px;
	 	line-height: 1.5;
	 }
	 .dropdown-content p:hover{
	 	color: #935ad8;
	 }
	</style>